.inputSearch {
  display: flex;
  gap: 10px;
  height: 48px;
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  background-color: #f9fafb;
  padding-left: 10px;
  align-items: center;
}

.inputSearch input {
  flex: 1;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: var(--font-geist-sans);
}

.buttonClose {
  border: none;
  background: none;
  cursor: pointer;
  width: 24px;
  
}

.button {
  height: 48px;
  width: 80px;
  border-radius: 10px;
  border: 1.5px solid #c2b2b2;
  background-color: #dc0a2d;
  cursor: pointer;
  font-family: var(--font-geist-sans);
  font-size: 16px;
  font-weight: 700;
  color: white;

}