.container {
  display: flex;
  gap: 10px;
  height: 48px;
  width: 100%;
}

.inputSearch {
  display: flex;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  border: 1px solid #e69d9d;
  background-color: #f9fafb;
  padding: 0 10px;
  gap: 8px;
  align-items: center;
}

.inputSearch input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
  font-family: var(--font-geist-sans);
}

.buttonClose {
  border: none;
  background: none;
  cursor: pointer;
}

.button {
  height: 48px;
  width: 100px;
  border-radius: 10px;
  border: 1px solid #e69d9d;
  background-color: #f9fafb;
  cursor: pointer;
  font-family: var(--font-geist-sans);
  font-size: 16px;
  font-weight: 400;
  color: #111;
}